{% extends 'base.html' %}

{% block content %}
<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">Wahyu Sahrijal</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'main:logout' %}">Log Out</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<table>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Date Added</th>
        <th>Actions</th>
    </tr>

    {% for product in products %}
        <tr>
            <td>{{ product.name }}</td>
            <td>{{ product.price|floatformat:2 }} IDR</td>
            <td>{{ product.description }}</td>
            <td>{{ product.date_added }}</td>
            <td>
                <a href="{% url 'main:edit_product' product.pk %}">
                    <button class="btn btn-warning">Edit</button>
                </a>
                <a href="{% url 'main:delete_product' product.pk %}">
                    <button class="btn btn-danger">Delete</button>
                </a>
            </td>
        </tr>
    {% endfor %}
</table>


<br />

<h5>Sesi terakhir login: {{ last_login }}</h5>

<a href="{% url 'main:create_product' %}">
    <button>
        Add New Product
    </button>
</a>


{% endblock content %}
